# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

media/
staticfiles/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp

# Deployment
*.dump
*.backup

# Node.js (if applicable)
node_modules/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
