{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="404 page" />
  <meta name="keywords" content="404" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<html>
  <title>500 server error</title>
  <body>
    <div class="text-center">
      <h1> 500 - server error</h1>
      <a href="/">back to home</a>
    </div>
    <p>server failure</p>
    <footer>
      <p>&copy; 2024 Robert x Robbie Fall Cycles. All rights reserved.</p>
      <a href="https://www.digitalocean.com/?refcode=1d8fae1522bc&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
          <img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" />
      </a>
  </footer>  
  </body>
</html>
