{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        #hero {
            background: url({% static 'images/dcoffee.png' %}) no-repeat center center/cover;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
            padding: 0 20px;
        }
    </style>
</head>
<body>
    <!-- Header and Navbar -->
    <header>
        <nav>
            <div class="logo">
                <h1><a href="{% url 'index' %}" style="color: #ffffff;">Dcoffee</a></h1>
            </div>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'order' %}">Place an Order</a></li>
                <li><a href="{% url 'success' %}">Order Confirmation</a></li>
                <li><a href="{% url 'booking' %}">Book a meeting Room</a></li>

                
                {% if user.is_authenticated %}
                    <a href="#" class="logout-button" id="logout-link">Logout</a>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    {% block content %}{% endblock content %}

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 DCoffee Premium. All rights reserved.</p>
        <a href="{% url 'privacy' %}">Privacy Policy</a> |
        <a href="{% url 'terms' %}">Terms of Service</a> |
        <a href="https://robertfall.uk">Back to main site</a>
    </footer>

</body>
<script src="{% static 'js/order.js' %}"></script>
<script>
    // Handle logout with POST method using JavaScript
    document.getElementById('logout-link').addEventListener('click', function(event) {
        event.preventDefault();
        
        const logoutForm = document.createElement('form');
        logoutForm.method = 'POST';
        logoutForm.action = "{% url 'logout' %}";
        
        // Create a CSRF token input element
        const csrfTokenInput = document.createElement('input');
        csrfTokenInput.type = 'hidden';
        csrfTokenInput.name = 'csrfmiddlewaretoken';
        csrfTokenInput.value = '{{ csrf_token }}';
        
        logoutForm.appendChild(csrfTokenInput);
        document.body.appendChild(logoutForm);
        
        logoutForm.submit();
    });
</script>
</html>
