{% extends 'base.html' %}

{% block content %}
{% load static %}
<h1>Order Details</h1>

{% if coffee_order %}
    <ul>
        <li>Coffee: {{ coffee_order.coffee }}</li>
        <li>Milk: {{ coffee_order.milk }}</li>
        {% if coffee_order.shot %}
            <li>Shot: {{ coffee_order.shot }}</li>
        {% endif %}
        {% if coffee_order.flavours %}
            <li>Flavours: {{ coffee_order.flavours | join:", " }}</li>
        {% endif %}
    </ul>
{% else %}
    <p>No details available for this order.</p>
{% endif %}

<!-- Home button -->
<a href="{% url 'index' %}" class="home-button">Back to Home</a>
{% endblock %}